@import url("https://fonts.googleapis.com/css2?family=Karla:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Karla, sans-serif;
  font-weight: 800;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@layer base {
  :root {
    --background: 0 0% 5%;
    --foreground: 0 0% 100%;

    --card: 0 0% 7%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 7%;
    --popover-foreground: 0 0% 100%;

    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 5%;

    --secondary: 0 0% 10%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 10%;
    --muted-foreground: 0 0% 65%;

    --accent: 0 0% 10%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 12%;
    --input: 0 0% 12%;
    --ring: 0 0% 15%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 5%; /* #0d0d0d */
    --foreground: 0 0% 100%;

    --card: 0 0% 7%; /* #121212 */
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 7%; /* #121212 */
    --popover-foreground: 0 0% 100%;

    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 5%;

    --secondary: 0 0% 10%; /* #1a1a1a */
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 10%; /* #1a1a1a */
    --muted-foreground: 0 0% 65%;

    --accent: 0 0% 10%; /* #1a1a1a */
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 12%; /* #1f1f1f */
    --input: 0 0% 12%; /* #1f1f1f */
    --ring: 0 0% 15%; /* #262626 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

pre code {
  border-radius: 4px;
  padding: 24px !important;
}

code,
code::after,
code::before {
  font-size: 0.9em;
  color: rgb(212, 0, 255);
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

code::after,
code::before {
  content: "`";
}

pre code::after,
pre code::before {
  content: none;
}
